body,
html {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden
}

h1 {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font: arial-black;
  font-size: 70pt;
  color: white;
}
h2
{
    display: flex;
    justify-content: center
    align-items: center;
    margin-top: 50px

}

.row {
  height: 20vh;
  font-size: 130%;
}

body {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
}

a:link {
  color: white
}

a:visited {
  color: white
}

a:hover {
  color: white
}

a:active {
  color: white
}

@keyframes animation1
{
    from{color: black}
    to {color: white}
}